<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default (printf "en-us") }}">

{{ partial "head.html" .}}

<body>

  {{ partial "header.html" . }}

  <div class="container">
    <div class="wrapper">
      {{ partial "logo.html" . }}
      {{ block "main" . }} {{ end }}
    </div>
  </div>

  {{ partial "footer.html" . }}    

  <script src="{{ "js/jquery-3.5.1.min.js" | absURL }}"></script>
  <script src="{{ "js/bootstrap.min.js" | absURL }}"></script>

  {{ with .Site.Params.analytics }} 
  {{ partial "analytics.html" . }}
  {{ end }}

  {{ block "footerfiles" . }} {{ end }}
</body>

</html>