{{ with .Site.Params.hashover }}
<div id="hashover">&nbsp;</div>
<script src="https://hashover.bimex.tech/{{.}}/comments.php"></script>
<noscript>Para poder mostrar los comentarios es necesario activar Javascript</noscript>
{{ end }}