{{ define "main" }}

<div class="home">
  <div class="row pack">

    {{- partial "sec_list.html" . -}}

  </div>
    
  <div class="row">
    <div class="col-md-4"> </div>
    <div class="col-md-4">
      {{- partial "pagination.html" . -}}
    </div>
    <div class="col-md-4"> </div>
  </div>
</div>

{{ end }}
